In [1]:
import pandas as pd
from goodinfo import GoodInfoStock

## Initial class

In [2]:
sid = 2330
stock = GoodInfoStock(sid)
print(stock.success)

True

## Basic Info

In [3]:
basic = stock.BasicInfo()
print(pd.Series(basic))

成交價                            673
昨收                             647
漲跌價                            +26
漲跌幅                         +4.02%
振幅                           6.03%
開盤                             640
最高                             679
最低                             640
成交張數                        97,590
成交金額                        646.2億
成交筆數                       115,004
成交均張                        0.8張/筆
成交均價                        662.2元
PBR                           9.76
PER                          35.51
PEG                           0.72
昨日張數                        95,484
昨日金額                        612.8億
昨日筆數                        95,577
昨日均張                          1張/筆
昨日均價                        641.8元
昨漲跌價 (幅)               +20(+3.19%)
連漲連跌             連5漲(+81元/+13.68%)
財報評分                   最新89分/平均91分
上市指數        16153.77(347.59/+2.2%)
dtype: object

## News

In [4]:
news = stock.News()
df_news = pd.DataFrame(news)
df_news.head()

,title,link
0,台積電為何飆不停？哪些會接棒上來,https://news.cnyes.com/news/id/4562331?utm%5Fs...
1,台積電帶頭再創高 還有哪些護國神山群？,https://news.cnyes.com/news/id/4562285?utm%5Fs...
2,台股登萬六寫八大驚奇 13個交易日急漲千點、兩座護國神山飆天價,https://news.cnyes.com/news/id/4562377?utm%5Fs...
3,台積電、聯發科股價井噴 他喊「竹科快買房」：最後上車機會！,https://www.ettoday.net/news/20210121/1903627....
4,三大法人買超台股33.32億元 外資持續提款台積電及金控股,https://news.cnyes.com/news/id/4562335?utm%5Fs...

## Company Info

In [5]:
company = stock.CompanyInfo()
print(pd.Series(company))

名稱                                            台灣積體電路製造股份有限公司
產業別                                                     半導體業
市/ 櫃                                                      上市
面值                                                    新台幣10元
資本額                                                   2,593億
市值                                                    17.45兆
成立日                                        1987/02/21  [33年]
上市日                                        1994/09/05  [26年]
董事長                                                      劉德音
總經理                                                  總裁: 魏哲家
發言人                                                      黃仁昭
代理人                                                      高孟華
網址                                              www.tsmc.com
地址                                              新竹科學園區力行六路8號
公司債                                                        有
私募股                                                        -
特別股                                                        -
主 要 業 務    依客戶之訂單與其提供之產品設計說明，以從事製造與銷售積體電路以及其他晶圓半導體裝置。提供前述...
dtype: object

## KLines

In [6]:
risk, kline = stock.KLineInfo()

print(pd.Series(risk))
kline.head()

5日     0.71
10日    0.97
一個月    0.99
三個月    1.42
半年     1.52
一年     1.21
三年     1.34
五年     1.35
十年     1.21
二十年    1.14
dtype: object

       累計漲跌價   累計漲跌幅   區間振幅 成交量週轉率    均線落點   均線乖離率
統計區間
5日       +81  +13.7%  14.4%  1.53%    631↗  +6.66%
10日     +108  +19.1%  19.1%  2.82%  610.7↗  +10.2%
月       +164  +32.2%    34%  4.16%  567.3↗  +18.6%
季       +218  +47.9%  55.2%  11.5%  511.5↗  +31.6%
半年    +291.5  +76.4%  77.8%  23.4%  474.2↗  +41.9%

## 法人

In [7]:
df = stock.InstitutionalInvestors()
df.head()

     買進(張)  賣出(張)     買賣超    連買連賣      持有張數     持股比
nan
外資   25014  42929  -17915    買→2賣  19820905  76.43%
投信     545   1877   -1332  連2買→3賣       NaN     NaN
自營商   2766   1386  +1,380     賣→買       NaN     NaN
合計   28325  46192  -17867    買→2賣       NaN     NaN

## 融資融券

In [8]:
mtss = stock.MarginTradingShortSale()
print('融資\n')
print(pd.Series(mtss['融資']))
print('融券\n')
print(pd.Series(mtss['融券']))

融資

買進         4,677
賣出         1,935
現償            50
餘額        31,431
增減        +2,692
使用率         0.5%
資券互抵          56
資券當沖        0.1%
連續增減日數       減→增
dtype: object
融券

買進               275
賣出               460
現償                 0
餘額             1,648
增減              +185
使用率               0%
券資比       5.24%減→連2增
連續增減日數         減→連2增
dtype: object

## 現股當沖

In [9]:
daytrade = stock.DayTrading()
daytrade

            成交張數        買進金額        賣出金額     損益金額
nan
張/金額(元)  30,964張  2,046,591萬  2,050,917萬  +4,325萬
當沖率       31.73%      31.67%      31.74%      NaN

## 股利

In [10]:
dividend = stock.Dividend()
dividend.head()

        現金 股票    合計
發放年度
2021   2.5  0   2.5
2020    10  0    10
2019  12.5  0  12.5
2018     8  0     8
2017     7  0     7

## 月營收

In [11]:
rankm, month = stock.MonthReport()
rankm.head()

  2020/12         歷史排名 創近期新高/新低   連續增減
1    單月營收  第6高(共283個月)    5個月新低      -
2    累月營收   歷史最高(共24年)    24年新高  連增11年

In [12]:
month.head()

       單月營收                累計月營收
         億元    月增%    年增%     億元    年增%
0
20/12  1174     -6  +13.6  13393  +25.2
20/11  1249  +4.66  +15.7  12219  +26.4
20/10  1193  -6.49  +12.5  10970  +27.7
20/09  1276  +3.83  +24.9   9777  +29.9
20/08  1229    +16  +15.8   8501  +30.7

## 獲利狀況

In [13]:
profit = stock.Profit()
profit.head()

          營收(億) 稅後淨利(億) 毛利(%) 營業利益(%) 稅後淨利(%)    ROE(%) EPS(元)
年/季
20Q3(累季)   9777    3751  52.8    41.9    38.4  29.3(年估)  14.47
2019      10700    3453    46    34.8    32.3      20.9  13.32
2018      10315    3511  48.3    37.2      34      21.9  13.54
2017       9774    3431  50.6    39.4    35.1      23.6  13.23
2016       9479    3342  50.1    39.9    35.3      25.6  12.89

## 資產負債

In [14]:
al = stock.AssetLiabilities()
al.head()

        現金  應收帳款    存貨  基金投資  負債總額  現金流量(%) BPS(元)
年/季
20Q3  22.9  6.17  4.16  1.01  32.1  128(年估)  68.93
2019  20.1  6.17  3.66  1.33  28.4      104  62.53
2018  27.6  6.18  4.94   1.4  19.7      169  64.67
2017  27.8  6.15  3.71  2.09  23.6      163   58.7
2016  28.7  6.86  2.58  2.45  26.3      170  53.58

## 現金流量

In [15]:
cash = stock.CashFlow()
cash.head()

         營業活動(億) 投資活動(億) 融資活動(億) 其他活動(億) 本期增減(億) 現金餘額(億)
年/季
20Q3(累季)  +5,635   -4148    +126    -125  +1,488    6042
2019      +6,151   -4588   -2696   -91.1   -1224    4554
2018      +5,740   -3143   -2451   +98.6    +244    5778
2017      +5,853   -3362   -2157    -213    +121    5534
2016      +5,398   -3954   -1578   -80.3    -214    5413